<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>verify_user</servlet-name>
        <servlet-class>controller.verify_user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>nominee_servlet</servlet-name>
        <servlet-class>controller.nominee_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_servlet</servlet-name>
        <servlet-class>controller.user_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_nominee</servlet-name>
        <servlet-class>controller.add_nominee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>statement_servlet</servlet-name>
        <servlet-class>controller.statement_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_servlet</servlet-name>
        <servlet-class>controller.admin_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>credit_servlet</servlet-name>
        <servlet-class>controller.credit_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>debit_servlet</servlet-name>
        <servlet-class>controller.debit_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>credit_amt</servlet-name>
        <servlet-class>controller.credit_amt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>debit_amt</servlet-name>
        <servlet-class>controller.debit_amt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>passbook_servlet</servlet-name>
        <servlet-class>controller.passbook_servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>verify_user</servlet-name>
        <url-pattern>/verify_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>nominee_servlet</servlet-name>
        <url-pattern>/nominee_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_servlet</servlet-name>
        <url-pattern>/user_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_nominee</servlet-name>
        <url-pattern>/add_nominee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>statement_servlet</servlet-name>
        <url-pattern>/statement_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_servlet</servlet-name>
        <url-pattern>/admin_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>credit_servlet</servlet-name>
        <url-pattern>/credit_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>debit_servlet</servlet-name>
        <url-pattern>/debit_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>credit_amt</servlet-name>
        <url-pattern>/credit_amt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>debit_amt</servlet-name>
        <url-pattern>/debit_amt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>passbook_servlet</servlet-name>
        <url-pattern>/passbook_servlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!-- error page -->
    <error-page>
        <error-code>404</error-code>
        <location>/alert.jsp</location>
    </error-page>
    <error-page>
        <error-code>405</error-code>
        <location>/security.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/warning.jsp</location>
    </error-page>
</web-app>
